header {color: aliceblue;
height: 200pc;
width: auto;
border: 25px solid white;}
{body.style.backround C:\Users\KELVIN\Desktop\Max\saavage.jpeg}
{margin: auto;
padding}
h1 {display: flexbox;color: aqua;}
body p{
    color: blue;
}
text {
    font-style: italic;
    font-size: 70px;
}
button{color: blue;
}
button{flex: auto;}